@import "colors";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;

    font-family: 'Bitter', serif;
    color: $color-text;
}

h1, h2, h3, h4 {
  color: $color-title;
}

button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
